.page .header 
{
    display: inline-block;
    border-bottom: 1px solid black;
    width: 100%;
}


.page .header .link-item-site-title 
{
    display: inline-block;

}

.page .header .link-item-site-title 
{
    font-size: 24px;
    color:black;
    text-decoration: none;
    padding-left: 40px;
}


body 
{
    display: flex;
    margin: 0px;
    background-color: rgb(238, 238, 238);
    height:100vh;
    font-family : Helvetica, sans-serif ;
}


footer  {
    color: rgb(255, 255, 255);
    padding-left: 40px;
    padding: 40px;
}
footer{
    background-color: rgb(102, 102, 102);
    height: 15%;
}

.main-content 
{
    width : 100%;
    padding-left: 40px;
}

.main-content
{
    width : 90%;
}
.main-content .heading-level {
    font-family : Georgia, serif;
    size: 1em/1.2;
}

.aside .categories , 
.aside .social 
{ 
    list-style: square;
    padding: 2px;
    margin:2px;
}

.page .main-content article { 
    top: 250px;
}